@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  background: linear-gradient(-45deg, #000000, #111111, #011e2c);
  animation: gradient 1s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Mobile */
@media (min-width: 640px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}

/* Mobile */
/* Tablet */
@media (min-width: 768px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}

/* Tablet */
/* Laptop */
@media (min-width: 1024px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }

  .h4-md {
    font-size: 26px;
  }

  .h5-md {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }
}

/* Laptop */
.Accordion17 {
  background: rgba(0, 0, 0, .7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}