@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  background: linear-gradient(-45deg, #000000, #111111, #011e2c);
  animation: gradient 1s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


